:root {
  --ipw-color-primary: #161e24;
  --ipw-color-secondary: #5a6774;
  --ipw-color-accent: #1fbac0;
  --ipw-color-bg: #f6f7fb;
  --ipw-color-surface: #ffffff;
  --ipw-color-text: #161e24;
  --ipw-color-muted: #5a6774;
  --ipw-color-border: #e7e7e8;
}
